<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>时间轴</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascripts/timeLine.js"></script>
</head>
<body>
<div class="container">
    <div class="time-line"></div>
    <div class="container-row">
        <span class="time-span">2014-11-21</span>
        <div class="circle"></div>
        <div class="container-content">我们的纪念</div>
    </div>
    <div class="container-row">
        <span class="time-span">2015-07-07</span>
        <div class="circle"></div>
        <div class="container-content">我们的纪念</div>
    </div>
    <div class="container-row">
        <span class="time-span">2015-12-28</span>
        <div class="circle"></div>
        <div class="container-content">我们的纪念</div>
    </div>
</div>
<footer>
    <div class="footer">
        <span>By 小雨爱吃鱼</span>
    </div>
</footer>
</body>
</html>